@font-face {
  font-family: 'Yekan';
  src: local('Yekan'), url(./assets/Yekan.ttf) format('woff');
}

#root {
  display: flex;
  justify-content: center;
  font-family: 'Yekan';

}

.startingPage{
  display: flex;
  justify-content: center;
}

.startBtnLink{
  display: flex;
  justify-content: center;
}


.startBtn{
  width: 203px;
  height: 75px;
  border-radius: 44px;
  border-style: solid;
  border-width: 10px;
  border-image-source: linear-gradient(to right, #f197b8 0%, var(--faded-orange-47) 100%);
  border-image-slice: 1;
  background-image: linear-gradient(to left, #ed865d, #f197bd 0%), linear-gradient(to right, #f197b8 0%, var(--faded-orange-47) 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  outline: none;
}


